# Information Retrieval

**Install Modules**

In [1]:
pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/e4/83/c66a1934ed5ed8ab1dbb9931f1779079f8bca0f6bbc5793c06c4b5e7d671/python-docx-0.8.10.tar.gz (5.5MB)
     |████████████████████████████████| 5.5MB 6.3MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.10-cp36-none-any.whl size=184491 sha256=db148a0502ff905d4827058142177e3e56100593625d78b5587dd4bda58460cd
  Stored in directory: /root/.cache/pip/wheels/18/0b/a0/1dd62ff812c857c9e487f27d80d53d2b40531bec1acecfa47b
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.10

In [2]:
pip install docx2txt

Collecting docx2txt
  Downloading https://files.pythonhosted.org/packages/7d/7d/60ee3f2b16d9bfdfa72e8599470a2c1a5b759cb113c6fe1006be28359327/docx2txt-0.8.tar.gz
Building wheels for collected packages: docx2txt
  Building wheel for docx2txt (setup.py) ... done
  Created wheel for docx2txt: filename=docx2txt-0.8-cp36-none-any.whl size=3965 sha256=4e2759b48d3b92f274a1ff5c9e96958e9e0b6e933e261086ea19abdbd2c8834a
  Stored in directory: /root/.cache/pip/wheels/b2/1f/26/a051209bbb77fc6bcfae2bb7e01fa0ff941b82292ab084d596
Successfully built docx2txt
Installing collected packages: docx2txt
Successfully installed docx2txt-0.8

**Import Modules**

In [50]:
from docx import Document
import docx2txt
import pandas as pd 
import string
import os

**Import Data**

In [51]:
files=[]
Text= []
filesname= [] 
def importDocuments(path):
  for r, d, f in os.walk(path):
      for file in f:
          if '.docx' in file:
              files.append(os.path.join(r, file))
              filesname.append(file.replace(".docx",""))
  print("Documents imported successfully\nDocuments List :\n")
  for f in files:
      Text.append(docx2txt.process(f)) 
      print(f)

In [52]:
importDocuments(input("input your folder path : "))

input your folder path : /content/drive/My Drive/IR_Data
Documents imported successfully
Documents List :

/content/drive/My Drive/IR_Data/DataScience.docx
/content/drive/My Drive/IR_Data/Piet Mondrian.docx
/content/drive/My Drive/IR_Data/Performance Art.docx

In [53]:
filesname

['DataScience', 'Piet Mondrian', 'Performance Art']

**Data Prepration**

In [54]:
PText= []
def Prepration(inputtext):
  for ftext in inputtext:
    RRM= ftext.translate(str.maketrans('', '', string.punctuation))
    RRM= RRM.replace("\n","")
    PText.append(RRM.split())

In [55]:
Prepration(Text)

In [56]:
PText[2][2]

'art'

**Create Table**

In [71]:
Data_dic= {}
def df_CSV():
  Table= pd.DataFrame(Data_F,columns=['Word','Document'])
  a= len(filesname)
  b= 0
  while a!=0:
    AT= Table.loc[Table['Document'] == filesname[a-1]]
    a-= 1
    AT= AT.drop_duplicates(subset=['Word'])
    AT= AT.reset_index(drop=True)
    Data_dic[filesname[a-1]]= AT

In [77]:
Data_F= []
def CreateTable(inputdata,docname):
  #Data_F=[len(docname)]
  i= 0
  a= len(docname)
  while a!= 0:
    Words_count= len(inputdata[a-1])
    a-= 1
    while Words_count != 0 :
      ipt=[inputdata[a][Words_count-1],docname[a]]
      Data_F.append(ipt)
      Words_count= Words_count-1
      i+=1
    df_CSV()

In [78]:
CreateTable(PText, filesname)

In [ ]:
Data_F

In [80]:
Data_dic['DataScience']

             Word       Document
0         fashion  Piet Mondrian
1              to  Piet Mondrian
2       furniture  Piet Mondrian
3            from  Piet Mondrian
4               –  Piet Mondrian
..            ...            ...
194         Dutch  Piet Mondrian
195  MONDRIANPiet  Piet Mondrian
196          PIET  Piet Mondrian
197            IS  Piet Mondrian
198           WHO  Piet Mondrian

[199 rows x 2 columns]

In [81]:
len(Data_dic['DataScience'])+len(Data_dic['Performance Art'])

844

In [242]:
outer= pd.merge(Data_dic['DataScience'], Data_dic['Performance Art'], on='Word', how='outer',).fillna(0)
inner= pd.merge(Data_dic['DataScience'], Data_dic['Performance Art'], on='Word', how='outer',).fillna(0)
#outer.append(inner)

In [82]:
def Merge(input_table):
  a=0
  if a == 0:
    output_table= pd.merge(input_table[filesname[a]], input_table[filesname[a+1]],on='Word',how='outer')
    a+= 2
  
  while a!= len(filesname):
    output_table = output_table.append(pd.merge(output_table, Data_dic[filesname[a]],on='Word',how='outer'))
    a+= 1
  return output_table

In [83]:
Merge(Data_dic)

              Word     Document_x       Document_y     Document
0          fashion  Piet Mondrian              NaN          NaN
1               to  Piet Mondrian  Performance Art          NaN
2        furniture  Piet Mondrian              NaN          NaN
3             from  Piet Mondrian  Performance Art          NaN
4                –  Piet Mondrian              NaN          NaN
...            ...            ...              ...          ...
1004      KIAU22An            NaN              NaN  DataScience
1005     Community            NaN              NaN  DataScience
1006   Engineering            NaN              NaN  DataScience
1007  KIAUComputer            NaN              NaN  DataScience
1008      Computer            NaN              NaN  DataScience

[1464 rows x 4 columns]

In [228]:
Table= pd.DataFrame(Data_F,columns=['Word','Document'])

In [97]:
Table

              Word         Document
0           Nevada  Performance Art
1           Desert  Performance Art
2             Rock  Performance Art
3            Black  Performance Art
4              the  Performance Art
...            ...              ...
2640   Engineering      DataScience
2641  KIAUComputer      DataScience
2642     Community      DataScience
2643   Engineering      DataScience
2644      Computer      DataScience

[2645 rows x 2 columns]

In [102]:
Table.loc[Table['Document'] == filesname[0]]

              Word     Document
871       articles  DataScience
872         future  DataScience
873             in  DataScience
874       concepts  DataScience
875         deeper  DataScience
...            ...          ...
2640   Engineering  DataScience
2641  KIAUComputer  DataScience
2642     Community  DataScience
2643   Engineering  DataScience
2644      Computer  DataScience

[1774 rows x 2 columns]

In [ ]:
Table = Table['Position'].groupby([Table.Word]).apply(list).reset_index()

In [ ]:
Table

           Word                                           Position
0             2                                            [10, 9]
1     According                                             [1748]
2         After                                              [731]
3    Afterwards                                             [1432]
4           All                                              [425]
..          ...                                                ...
638         you  [1575, 1460, 1402, 1389, 1289, 1271, 1267, 124...
639        your                   [1404, 1264, 218, 215, 211, 204]
640          “a                                              [983]
641     “horse”                                             [1492]
642           …                                             [1630]

[643 rows x 2 columns]

In [ ]:
len(Table)

643

**Search Words**

In [ ]:
SW= input("Search :")

Search :you

In [ ]:
SR= Table.loc[Table['Word']==SW]
po= SR.iloc[0]['Position']
print("Positions : {} \nPosition Count : {}".format(po, len(po)))

Positions : [1575, 1460, 1402, 1389, 1289, 1271, 1267, 1243, 1156, 1152, 1145, 1117, 1076, 1059, 1051, 417, 324, 255, 112, 79]
Position Count : 20