# Information Retrieval

**Install Modules**

In [1]:
pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/e4/83/c66a1934ed5ed8ab1dbb9931f1779079f8bca0f6bbc5793c06c4b5e7d671/python-docx-0.8.10.tar.gz (5.5MB)
     |████████████████████████████████| 5.5MB 9.7MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.10-cp36-none-any.whl size=184491 sha256=78311f8b449e7abbbd028320924168b7d2e6c6305ebd9c9abba31aa5b705cb32
  Stored in directory: /root/.cache/pip/wheels/18/0b/a0/1dd62ff812c857c9e487f27d80d53d2b40531bec1acecfa47b
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.10

In [2]:
pip install docx2txt

Collecting docx2txt
  Downloading https://files.pythonhosted.org/packages/7d/7d/60ee3f2b16d9bfdfa72e8599470a2c1a5b759cb113c6fe1006be28359327/docx2txt-0.8.tar.gz
Building wheels for collected packages: docx2txt
  Building wheel for docx2txt (setup.py) ... done
  Created wheel for docx2txt: filename=docx2txt-0.8-cp36-none-any.whl size=3965 sha256=306d5f440f28250b98789ed4febc3ee47f72c7d70d40901fc846e1061736bdea
  Stored in directory: /root/.cache/pip/wheels/b2/1f/26/a051209bbb77fc6bcfae2bb7e01fa0ff941b82292ab084d596
Successfully built docx2txt
Installing collected packages: docx2txt
Successfully installed docx2txt-0.8

**Import Modules**

In [3]:
from docx import Document
import docx2txt
import pandas as pd 
import string
import os

**Import Data**

In [158]:
files=[]
Text= []
filesname= [] 
def importDocuments(path):
  for r, d, f in os.walk(path):
      for file in f:
          if '.docx' in file:
              files.append(os.path.join(r, file))
              filesname.append(file.replace(".docx",""))
  print("Documents imported successfully\nDocuments List :\n")
  for f in files:
      Text.append(docx2txt.process(f)) 
      print(f)

In [159]:
importDocuments(input("input your folder path : "))

input your folder path : /content/drive/My Drive/IR_Data
Documents imported successfully
Documents List :

/content/drive/My Drive/IR_Data/DataScience.docx
/content/drive/My Drive/IR_Data/Piet Mondrian.docx
/content/drive/My Drive/IR_Data/Performance Art.docx

In [160]:
filesname

['DataScience', 'Piet Mondrian', 'Performance Art']

**Data Prepration**

In [161]:
PText= []
def Prepration(inputtext):
  for ftext in inputtext:
    RRM= ftext.translate(str.maketrans('', '', string.punctuation))
    RRM= RRM.replace("\n","")
    PText.append(RRM.split())

In [162]:
Prepration(Text)

In [ ]:
PText[1]

**Create Table**

In [181]:
Data_dic= {}
def df_CSV():
  a= len(filesname)
  b= 0
  Table= pd.DataFrame(Data_F,columns=['Word','Document'])
  while b< len(filesname):
    AT= Table.loc[Table['Document'] == filesname[b]]
    b+= 1
    a-= 1
    AT= AT.drop_duplicates(subset=['Word'])
    AT= AT.reset_index(drop=True)
    Data_dic[filesname[b-1]]= AT

In [182]:
Data_F= []
def CreateTable(inputdata,docname):
  #Data_F=[len(docname)]
  i= 0
  a= len(docname)
  while a!= 0:
    Words_count= len(inputdata[a-1])
    a-= 1
    while Words_count != 0 :
      ipt=[inputdata[a][Words_count-1],docname[a]]
      Data_F.append(ipt)
      Words_count= Words_count-1
      i+=1
    df_CSV()

In [183]:
CreateTable(PText, filesname)

In [186]:
Data_dic['Performance Art']

               Word         Document
0            Nevada  Performance Art
1            Desert  Performance Art
2              Rock  Performance Art
3             Black  Performance Art
4               the  Performance Art
..              ...              ...
298        features  Performance Art
299       typically  Performance Art
300       timebased  Performance Art
301  artPerformance  Performance Art
302     Performance  Performance Art

[303 rows x 2 columns]

In [187]:
def Merge(input_table):
  a=0
  if a == 0:
    output_table= pd.merge(input_table[filesname[a]], input_table[filesname[a+1]],on='Word',how='outer')
    a+= 2
  
  while a!= len(filesname):
    output_table = output_table.append(pd.merge(output_table, Data_dic[filesname[a]],on='Word',how='outer'))
    a+= 1
  return output_table

In [205]:
def fix_t(In_Da, fname):
  for name in fname:
    In_Da[name].columns= ['Word',name]
  return In_Da

In [206]:
Data_dic= fix_t(Data_dic, filesname)

In [192]:
Data_dic['Piet Mondrian']

             Word  Piet Mondrian
0         fashion  Piet Mondrian
1              to  Piet Mondrian
2       furniture  Piet Mondrian
3            from  Piet Mondrian
4               –  Piet Mondrian
..            ...            ...
194         Dutch  Piet Mondrian
195  MONDRIANPiet  Piet Mondrian
196          PIET  Piet Mondrian
197            IS  Piet Mondrian
198           WHO  Piet Mondrian

[199 rows x 2 columns]

In [207]:
MData= Merge(Data_dic)

In [208]:
MData

                Word  DataScience  Piet Mondrian  Performance Art
0           articles  DataScience            NaN              NaN
1             future  DataScience            NaN              NaN
2                 in  DataScience  Piet Mondrian              NaN
3           concepts  DataScience            NaN              NaN
4             deeper  DataScience            NaN              NaN
...              ...          ...            ...              ...
1004       onlookers          NaN            NaN  Performance Art
1005       typically          NaN            NaN  Performance Art
1006       timebased          NaN            NaN  Performance Art
1007  artPerformance          NaN            NaN  Performance Art
1008     Performance          NaN            NaN  Performance Art

[1787 rows x 4 columns]

In [214]:
def SetValue(IN_D,IN_N):
  for name in IN_N:
    IN_D.loc[IN_D[name]== name, name] = 1
    IN_D = IN_D.reset_index(drop=True)
    return IN_D

In [201]:
MData.loc[MData['DataScience']== 'DataScience', 'DataScience'] = 1

In [221]:
termdocument= SetValue(MData, filesname)
termdocument= termdocument.fillna(0)
termdocument

                Word  DataScience  Piet Mondrian  Performance Art
0           articles            1              0                0
1             future            1              0                0
2                 in            1              1                0
3           concepts            1              0                0
4             deeper            1              0                0
...              ...          ...            ...              ...
1782       onlookers            0              0                1
1783       typically            0              0                1
1784       timebased            0              0                1
1785  artPerformance            0              0                1
1786     Performance            0              0                1

[1787 rows x 4 columns]

In [222]:
termdocument.head

<bound method NDFrame.head of                 Word  DataScience  Piet Mondrian  Performance Art
0           articles            1              0                0
1             future            1              0                0
2                 in            1              1                0
3           concepts            1              0                0
4             deeper            1              0                0
...              ...          ...            ...              ...
1782       onlookers            0              0                1
1783       typically            0              0                1
1784       timebased            0              0                1
1785  artPerformance            0              0                1
1786     Performance            0              0                1

[1787 rows x 4 columns]>

In [225]:
termdocument.columns

Index(['Word', 'DataScience', 'Piet Mondrian', 'Performance Art'], dtype='object')

**term document incidence matrix**

In [218]:
termdocument_Matrix= termdocument.to_numpy()

In [230]:
termdocument_Matrix[0:30]

array([['articles', 1, nan, nan],
       ['future', 1, nan, nan],
       ['in', 1, 1, nan],
       ['concepts', 1, nan, nan],
       ['deeper', 1, nan, nan],
       ['over', 1, nan, nan],
       ['go', 1, 1, nan],
       ['to', 1, 1, nan],
       ['try', 1, nan, nan],
       ['will', 1, nan, nan],
       ['We', 1, nan, nan],
       ['field', 1, nan, nan],
       ['this', 1, 1, nan],
       ['of', 1, 1, nan],
       ['terms', 1, nan, nan],
       ['important', 1, 1, nan],
       ['and', 1, 1, nan],
       ['basic', 1, nan, nan],
       ['most', 1, nan, nan],
       ['the', 1, 1, nan],
       ['some', 1, nan, nan],
       ['explain', 1, nan, nan],
       ['tried', 1, nan, nan],
       ['we', 1, nan, nan],
       ['article', 1, nan, nan],
       ['In', 1, 1, nan],
       ['scientist', 1, nan, nan],
       ['data', 1, nan, nan],
       ['every', 1, nan, nan],
       ['for', 1, 1, nan]], dtype=object)

In [56]:
def BinarizeCells(InDa):

4

In [ ]:
Table= pd.DataFrame(Data_F,columns=['Word','Document'])

In [ ]:
Table

              Word         Document
0           Nevada  Performance Art
1           Desert  Performance Art
2             Rock  Performance Art
3            Black  Performance Art
4              the  Performance Art
...            ...              ...
2640   Engineering      DataScience
2641  KIAUComputer      DataScience
2642     Community      DataScience
2643   Engineering      DataScience
2644      Computer      DataScience

[2645 rows x 2 columns]

In [ ]:
Table.loc[Table['Document'] == filesname[0]]

              Word     Document
871       articles  DataScience
872         future  DataScience
873             in  DataScience
874       concepts  DataScience
875         deeper  DataScience
...            ...          ...
2640   Engineering  DataScience
2641  KIAUComputer  DataScience
2642     Community  DataScience
2643   Engineering  DataScience
2644      Computer  DataScience

[1774 rows x 2 columns]

In [ ]:
Table = Table['Position'].groupby([Table.Word]).apply(list).reset_index()

In [ ]:
Table

           Word                                           Position
0             2                                            [10, 9]
1     According                                             [1748]
2         After                                              [731]
3    Afterwards                                             [1432]
4           All                                              [425]
..          ...                                                ...
638         you  [1575, 1460, 1402, 1389, 1289, 1271, 1267, 124...
639        your                   [1404, 1264, 218, 215, 211, 204]
640          “a                                              [983]
641     “horse”                                             [1492]
642           …                                             [1630]

[643 rows x 2 columns]

In [ ]:
len(Table)

643

**Search Words**

In [ ]:
SW= input("Search :")

Search :you

In [ ]:
SR= Table.loc[Table['Word']==SW]
po= SR.iloc[0]['Position']
print("Positions : {} \nPosition Count : {}".format(po, len(po)))

Positions : [1575, 1460, 1402, 1389, 1289, 1271, 1267, 1243, 1156, 1152, 1145, 1117, 1076, 1059, 1051, 417, 324, 255, 112, 79]
Position Count : 20