In [ ]:
import re
import pandas as pd

In [ ]:
DocDic= {'Doc1':'the students are studying.','Doc2':'are all students studying?','Doc3':'we are here to study information retrieval.'}

In [ ]:
DocDic

{'Doc1': 'the students are studying.',
 'Doc2': 'are all students studying?',
 'Doc3': 'we are here to study information retrieval.'}

In [ ]:
pat = re.compile(r"([.()!?])")
def Prepration(Textin):
  Dataout= []
  for i in Textin:
    t= pat.sub(" \\1",Textin[i])
    Dataout.append(t.split())
  return Dataout

In [ ]:
Ptext= Prepration(DocDic)

In [ ]:
Ptext

[['the', 'students', 'are', 'studying', '.'],
 ['are', 'all', 'students', 'studying', '?'],
 ['we', 'are', 'here', 'to', 'study', 'information', 'retrieval', '.']]

In [ ]:
def ClP(Data_in, nin):
  D_out= []
  a= 0
  for i in Data_in:
    D_out.append(['{}:{}'.format(nin, a),i])
    a+= 1
  return D_out

In [ ]:
def  Coll(Data_in, nin):
  Data_out= []
  doc_name= []
  a= 0
  for n in DocDic:
    doc_name.append(n)
  for i in Data_in:
    Data_out.append(ClP(i, doc_name[a]))
    a+= 1
  return Data_out

In [ ]:
cLP = Coll(Ptext,DocDic)

In [ ]:
cLP

[[['Doc1:0', 'the'],
  ['Doc1:1', 'students'],
  ['Doc1:2', 'are'],
  ['Doc1:3', 'studying'],
  ['Doc1:4', '.']],
 [['Doc2:0', 'are'],
  ['Doc2:1', 'all'],
  ['Doc2:2', 'students'],
  ['Doc2:3', 'studying'],
  ['Doc2:4', '?']],
 [['Doc3:0', 'we'],
  ['Doc3:1', 'are'],
  ['Doc3:2', 'here'],
  ['Doc3:3', 'to'],
  ['Doc3:4', 'study'],
  ['Doc3:5', 'information'],
  ['Doc3:6', 'retrieval'],
  ['Doc3:7', '.']]]

In [ ]:
cLP[0]

[['Doc1:0', 'the'],
 ['Doc1:1', 'students'],
 ['Doc1:2', 'are'],
 ['Doc1:3', 'studying'],
 ['Doc1:4', '.']]

In [ ]:
def PIT(Data_in,Dic_input):
  Data_out= []
  doc_name= []
  for n in DocDic:
    doc_name.append(n)
  for i in Data_in:
    Data_out.append(pd.DataFrame(i,columns=['Position','Word'])) 
  return Data_out

In [ ]:
PO= PIT(cLP,DocDic)

In [ ]:
PO[1]

  Position      Word
0   Doc2:0       are
1   Doc2:1       all
2   Doc2:2  students
3   Doc2:3  studying
4   Doc2:4         ?

In [ ]:
dc= pd.concat(PO, ignore_index=True)

In [ ]:
dc

   Position         Word
0    Doc1:0          the
1    Doc1:1     students
2    Doc1:2          are
3    Doc1:3     studying
4    Doc1:4            .
5    Doc2:0          are
6    Doc2:1          all
7    Doc2:2     students
8    Doc2:3     studying
9    Doc2:4            ?
10   Doc3:0           we
11   Doc3:1          are
12   Doc3:2         here
13   Doc3:3           to
14   Doc3:4        study
15   Doc3:5  information
16   Doc3:6    retrieval
17   Doc3:7            .

In [176]:
dc['Position'].groupby(dc['Word']).apply(list).reset_index()

           Word                  Position
0             .          [Doc1:4, Doc3:7]
1             ?                  [Doc2:4]
2           all                  [Doc2:1]
3           are  [Doc1:2, Doc2:0, Doc3:1]
4          here                  [Doc3:2]
5   information                  [Doc3:5]
6     retrieval                  [Doc3:6]
7      students          [Doc1:1, Doc2:2]
8         study                  [Doc3:4]
9      studying          [Doc1:3, Doc2:3]
10          the                  [Doc1:0]
11           to                  [Doc3:3]
12           we                  [Doc3:0]

In [177]:
Table= dc['Position'].groupby(dc['Word']).apply(list).reset_index()

In [182]:
Search_W= input("Enter Word:")
print("Result :\nSearch : {}\nDocname & Posision:\n {}".format(Search_W, Table.loc[Table['Word']== Search_W]))

Enter Word:are
Result :
Search : are
Docname & Posision:
   Word                  Position
3  are  [Doc1:2, Doc2:0, Doc3:1]